body {
  background-color: #F0F0F0;
  color:black;
}

#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color:black;
}

.centeredContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.largeHeader {
  font-weight: 100;
  font-size: 85px;
  margin-bottom: 20px;
  text-align: center;
}

.subHeader {
  font-size: 35px;
  text-align: center;
  line-height: 55px;
  font-weight: 100;
}

.links {
  color: #4A90E2;
  text-decoration: none;
}

.labels {
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}

.inputContainer {
  margin-top: 20px;
  width: 450px;
  height: 105px;
  margin-bottom: 5px;
  border: 1px solid black;
  resize: none;
  overflow: hidden;
}

.errorMsg {
  color: #FF7777;
  font-size: 18px;
  text-align: left;
}

.codeContainerParent {
  color: #cc9a86;
  font-size: 1.2em;
}
